@import '../../../styles/vars'

.Button
  cursor: pointer
  box-sizing: border-box
  border: none
  border-radius: 2px
  padding: 0.6rem 1.4rem
  margin: 0.2rem
  font-family: Roboto-Bold
  color: #fff
  background: $blue
  display: inline-flex
  justify-content: center
  align-items: center

  &[type="submit"]
    background: $green

  &[type="reset"]
    background: $red

  &.icon
    padding: 0.4rem 0.4rem
